<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      </assemblyBinding> 
       <etwEnable enabled="true" />
	  <appDomainManagerAssembly value="uevmonitor, Version=0.0.0.0, Culture=neutral, PublicKeyToken=1bb626af4620f3e6" />  
	  <appDomainManagerType value="MyAppDomainManager" />  
   </runtime>
</configuration>